BOT_TOKEN=111122223333:EXAMPLE_e1x2a3m4p5l6e7
MONGO_URI=mongodb+srv://user:password1234@mongodb.example.com/?retryWrites=true&w=majority
SENDER_EMAIL=email@example.com
SENDER_PASSWORD=password1234
REDIS_URL=redis://user:password1234@redis.example.com:1234
API_URL=https://api.example.com
ERROR_LOG_CHAT_ID=-111122223333